animations {
  workspace-switch {
    spring damping-ratio=1.0 stiffness=1400 epsilon=0.0001
  }

  window-open {
    duration-ms 200
    curve "cubic-bezier" 0.34 1.56 0.64 1
  }

  window-close {
    duration-ms 150
    curve "linear"
  }


  horizontal-view-movement {
    spring damping-ratio=1.0 stiffness=1400 epsilon=0.0001
  }

  window-movement {
    spring damping-ratio=0.94 stiffness=850 epsilon=0.0001
  }

  window-resize {
    spring damping-ratio=0.94 stiffness=850 epsilon=0.0001
  }

  config-notification-open-close {
    duration-ms 303
    curve "cubic-bezier" 0.15 0 0.1 1
  }

  screenshot-ui-open {
    duration-ms 381
    curve "cubic-bezier" 0.23 1 0.32 1
  }

  overview-open-close {
    duration-ms 400
    curve "cubic-bezier" 0.23 1 0.32 1
  }

  recent-windows-close {
    duration-ms 150
    curve "linear"
  }
}
