clipboard {
  disable-primary
}
debug {
  honor-xdg-activation-with-invalid-serial
}
hotkey-overlay {
  skip-at-startup
}
overview {
  backdrop-color "#141617"
  workspace-shadow {
    // off
  }
}

// Noctalia specific
switch-events {
  lid-close { spawn "noctalia" "msg" "session" "lock-and-suspend"; }
}

prefer-no-csd
