// Set the overview wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}

/* Noctalia: blur everywhere without xray for a better look */
layer-rule {
  // If you want to blur the bar layer, we can do that with the following
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
  background-effect {
    xray false
    // blur false
  }
}

layer-rule {
  match namespace="noctalia-window-switcher"
    background-effect {
    blur true
    xray false
  }
}
