layout  {
  always-center-single-column
  background-color "transparent"

  center-focused-column "on-overflow"
  default-column-width  {
    proportion 0.5
  }
  empty-workspace-above-first
  focus-ring  {
    off
  }
  gaps 5
  preset-column-widths  {
    proportion 0.500000
    proportion 0.333333
    proportion 0.666667
  }
  shadow  {
    draw-behind-window false
    offset "x"=0 "y"=2
    on
    softness 12
    spread 4
    color "#00000020"
  }
  tab-indicator  {
    corner-radius 0.000000
    gap 5.000000
    gaps-between-tabs 10
    length "total-proportion"=0.500000
    position "top"
    width 4.000000
  }

  // Theme related
  border {
    on
    width 2
    urgent-color "#ea6962"

    active-gradient from="#d3869b" to="#e78a4e" angle=45 relative-to="workspace-view"

    inactive-gradient from="#504945" to="#7c6f64" angle=45 relative-to="workspace-view" in="srgb-linear"
  }
}
